<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Allow outbound connections to FWPlayer instances on the local network. -->
    <key>com.apple.security.network.client</key>
    <true/>
</dict>
</plist>
